# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
.next
out

# Environment files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
.docker

# Test coverage
coverage

# Prisma
prisma/generated