NODE_ENV=development
PORT=3003

DATABASE_URL=postgresql://restaurant:restaurant@localhost:5432/catalog_service?schema=public

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=restaurant
KEYCLOAK_CLIENT_ID=api
KEYCLOAK_CLIENT_SECRET=pa7vfHxe4Cplf2vcT6d7rZBNwPdKgnRN

OTEL_SERVICE_NAME=catalog-service